body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h5 {
  margin: 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav {
  margin: 0 auto;
  background-color: #fe9814;
  color: #fff;
  text-align: right;
  position: fixed;
  width: 100%;
}

.nav > span {
  margin: 0;
  display: inline-block;
  padding: 10px;
}

.header-container {
  text-align: center;
  height: 200px;
  background-color: #fe9814;
  color: #fff;
}

.header {
  padding-top: 50px;
}

span {
  cursor: pointer;
}

input {
  width: 100%;
  padding: 10px;
  margin: 20px 20px;
  width: 580px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.beerCard {
  
}

@media (max-width: 640px) {
  input {
    width: 90%
  }
}
